*{ 
    margin: 0; 
} 
header{ 
    padding: 60px; 
    text-align: center; 
    background-color: rgb(49, 48, 48); 
    color: white; 
    font-family: arial; 
    font-size: 30px; 
} 
.content{ 
    font-family: arial; 
    height: 50vh; 
    border: 1px solid white; 
    position: absolute; 
    text-align: justify; 
    margin-top: 20px; 
    margin-left: 350px; 
    font-size: 30px; 
    padding-top: 70px; 
    aspect-ratio: 1/0; 
    padding-left: 25px; 
    box-shadow: 1px 0.1px 20px rgb(192, 191, 191); 
    padding-right: 20%; 
} 
.content h3{ 
    padding-bottom: 35px; 
} 
ul { 
    list-style-type:none; 
    line-height: 60px; 
    padding-left:0; 
 
}